/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6b7280; /* gray-500 */
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb; /* gray-200 */
}
